@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #EDBB99;
  font-family: 'Roboto', sans-serif;
}

.cipher-result {
  border: #186a3b dashed 1px;
  padding: 1em;
  font-size: 1.5em;
  background-color: white;
  font-style: italic;
  text-align: center;
  margin-bottom: 1em;
}

#input-operation label {
  font-size: 2em;
  color: #7D6608;

}

.cipher-button {
  background-color: #D5F5E3;
  font-size: 20px;
  padding: 1em;
  font-weight: bold;
  margin: 1em;
  border-radius: 7px;
  box-shadow: 7px 7px 7px -7px;
}

.cipher-image {
  width: 468px;
  border-radius: 50%;
}

#input-offset {
  text-align: center;
}

#input-operation {
  text-align: center;
}

#webSite {
  background-color: #F6DDCC;
  padding-right: 4em;
  padding-left: 10em;

}

#CaesarCipher {
  color: #7D6608;
  text-align: center;
  padding: 0.5em;
  margin: 0;
  font-weight: bold;
  font-size: 3em;
}

#llave {
  background-size: cover;
}

#llave:hover {
  filter: grayscale(80%);
}

#paragraph {
  padding: 1em;

  text-align:center;
  color: #784212;
}

.newStyle {

  color: #E6B0AA;
  filter: invert(0.9);
}

#shift {
  border-color: #cc9900;
  font-size: 18px;
  padding: 1em;
}

#wordE {
  color: #7D6608;

}

#wordD {
  color: #7D6608;

}

#shiftNumber {
  color: #7D6608;
  font: 25px "Comic Sans MS", cursive;
}

#formCipher {
  text-align: center;
  border-color: #E67E22;
}

#formDecipher {
  display: none;
  text-align: center;
  border-color: #E67E22;
}

#wordToEncrypt {
  border-color: #cc9900;
  font-style: italic;
  font-size: 1em;
  padding: 2em;
}

#wordToDeCrypt {
  border-color: #cc9900;
  font-style: italic;
  font-size: 1em;
  padding: 2em;
}

 #buttonD {
  background-color: #D5F5E3;
  font-size: 18px;
  padding: 1em;
  font-weight: bold;
}

 #buttonD:hover {
  background: #186A3B;
  color: #ABEBC6;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.input-style {
  border-radius: 7px;
}
