body {
  background: #EDBB99;
}

#input-offset {
  text-align: center;
}

#webSite {
  background-color: #F6DDCC;
  padding-right: 4em;
  padding-left: 10em;

}

#CaesarCipher {
  font-color: #7D6608;
  font: 50px "Comic Sans MS", cursive, solid;;
  text-align:center;
  /* font-size: 50px; */
  color: #7D6608;
  padding: 1em;
}

#llave {
  background-size: cover;
}

#llave:hover {
  filter: grayscale(80%);
}

#shift {
  border-color:  #cc9900;
  font-size: 18px;
  border-width: inset;
  padding: 1em;
}

#wordE {
  color: #7D6608;
  font: 37px "Comic Sans MS", cursive, solid;
}

#wordD {
  color: #7D6608;
  font: 37px "Comic Sans MS", cursive, solid;
}

#shiftNumber {
  color: #7D6608;
  font: 25px "Comic Sans MS", cursive;
}

#formCipher {
  text-align: center;
  padding: 3em;
  border-width: inset;
  border-color: #E67E22;
}

#formDecipher {
  text-align: center;
  padding: 10em;
  border-width: inset;
  border-color: #E67E22;
}

#wordToEncrypt {
  border-color:  #cc9900;
  font-style: italic;
  font-size: 20px;
  padding: 4em;
}

#wordToDeCrypt {
  border-color: #cc9900;
  font-style: italic;
  font-size: 20px;
  padding: 4em;
}

#buttonE {
  background-color: #D5F5E3;
  font-size: 18px;
  padding: 1em;
  font-weight: bold;

}

 #buttonE:hover {
  background: #186A3B;
  color: #ABEBC6;
  box-shadow: inset 0 0 0 3px #3a7999;
}

 #buttonD {
  background-color: #D5F5E3;
  font-size: 18px;
  padding: 1em;
  font-weight: bold;
}

 #buttonD:hover {
  background: #186A3B;
  color: #ABEBC6;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.input-style {
  border-radius: 7px;
}
